.corpodosite{
    color: white;
}



.cabecalho {
    background-image: linear-gradient(black,gray);
    color: aliceblue;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-image: linear-gradient(gray,rgb(48, 48, 48));
    padding: 100px;
    font-size: xx-large;
}

.section2 {
    background-image: linear-gradient(rgb(48, 48, 48),black);
    padding: 100px;
    font-size: xx-large;
}

.cabecalho-imagem{
    width: 20%;
}

.rodape{
    background-color: black;
    color: white;
}